@include media-breakpoint-up(xs) {
    .navbar {
        .logo {
            height:20px;
            width:260px;
        }
        .nav-link {
            font-weight: $font-semi-bold;
            font-size: 14px;
            
        }
        .nav-link:hover {
            color:$primary-dark;
        }
    }
}

