@include media-breakpoint-up(xs) {
	.quote {
		p {
			font-size: 14px;
		}
		.author {
			position: relative;
			min-height: 50px;
			padding-left:60px;
			.headshot {
				position: absolute;
				top:0;
				left:0;
				width:50px;
				height:50px;
				border-radius:50%
			}
			.author-meta {
				font-size: 12px;
				position: absolute;
			top:50%;
			transform:translate(0%, -50%);
			-webkit-transform:translate(0%, -50%);
			}
		}
	}

	/* Slider */	
	.slick-slider	{
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-touch-callout: none;
		-khtml-user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
	}
	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.slick-list:focus {
		outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-slider .slick-track,	.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.slick-track:before,	.slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-loading .slick-track {
		visibility: hidden;
	}
	.slick-slide {
		display: none;
		float: left;
		height: 100%;
		min-height: 1px;
	}
	[dir='rtl'] .slick-slide {
		float: right;
	}
	.slick-slide img {
		display: block;
	}
	.slick-slide.slick-loading img {
		display: none;
	}
	.slick-slide.dragging img {
		pointer-events: none;
	}
	.slick-initialized .slick-slide {
		display: block;
	}
	.slick-loading .slick-slide {
		visibility: hidden;
	}
	.slick-vertical .slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
	.slick-dots {
		position: absolute;
		bottom: -30px;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		width: 100%;
		z-index: 100;
		margin:0;
		li {
			position: relative;
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				border: 0;
				background: transparent;
				display: block;
				height: 20px;
				width: 20px;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				padding: 5px;
				cursor: pointer;
				&:hover, &:focus {
					outline: none;
					&:before {
						opacity: $slick-opacity-on-hover;
					}
				}
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: $slick-dot-character;
					width: 20px;
					height: 20px;
					font-family:fontawesome;
					font-size: $slick-dot-size;
					line-height: 20px;
					text-align: center;
					color: $slick-dot-color;
					opacity: $slick-opacity-not-active;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&.slick-active button:before {
				color: $slick-dot-color-active;
				opacity: $slick-opacity-default;
			}
		}
	}
	.carousel .slick-arrow {
		display:none !important;
	}
	.custom-table {
		.row {
			padding:20px 0;
			border-bottom:$mdc-blue-grey-100 solid 1px;
			transition: all 0.3s ease 0s;
		}
		.row:last-child {
			border:none;
		}
		.row:hover {
			box-shadow: 0 4px 30px $mdc-blue-grey-100;
		}
	}
}

@include media-breakpoint-up(lg) {
	.carousel {
		position: relative;
		.slick-arrow {
			display:inline-block !important;
		}
		.toggle-left, .toggle-right {
			position: absolute;
			top:50%;
			transform:translate(0%, -50%);
			-webkit-transform:translate(0%, -50%);
			z-index: 100;
			height:40px;
			width:40px;
			border-radius:50%;
			cursor:pointer;
			background-color:$white;
			transition: all 0.3s ease 0s;
			i {
				position: absolute;
				top:5px;
				font-size:30px;
				color:$black;
			}
		}
		.toggle-left i {
			left:5px;
		}
		.toggle-right i {
			right:5px;
		}
		.toggle-left {
			left:30px;
		}
		.toggle-right {
			right:30px;
		}
		.toggle-left:hover, .toggle-right:hover {
			box-shadow: 0 2px 15px $grey;
		}
	}
}