@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?um591j');
  src:  url('../fonts/icomoon.eot?um591j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?um591j') format('truetype'),
    url('../fonts/icomoon.woff?um591j') format('woff'),
    url('../fonts/icomoon.svg?um591j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
  content: "\e943";
}
.icon-menu:before {
  content: "\e900";
}
.icon-manager:before {
  content: "\e600";
}
.icon-city-hall:before {
  content: "\e601";
}
.icon-city:before {
  content: "\e602";
}
.icon-people:before {
  content: "\e603";
}
.icon-flag:before {
  content: "\e604";
}
.icon-star:before {
  content: "\e605";
}
.icon-capital:before {
  content: "\e606";
}
.icon-map:before {
  content: "\e800";
}
.icon-state:before {
  content: "\e801";
}
.icon-dollar:before {
  content: "\e802";
}
.icon-guest:before {
  content: "\e803";
}
.icon-administrator:before {
  content: "\e804";
}
.icon-user:before {
  content: "\e805";
}
.icon-police:before {
  content: "\e806";
}
.icon-accept-database:before {
  content: "\e807";
}
.icon-inspection:before {
  content: "\e808";
}
.icon-conference-call:before {
  content: "\e809";
}
.icon-collaboration:before {
  content: "\e80a";
}
.icon-data-sheet:before {
  content: "\e80b";
}
.icon-heat-map:before {
  content: "\e80c";
}
.icon-pie-chart:before {
  content: "\e80d";
}
.icon-statistics:before {
  content: "\e80e";
}
.icon-water-tower:before {
  content: "\e80f";
}
.icon-geography:before {
  content: "\e810";
}
.icon-caretaker:before {
  content: "\e811";
}
.icon-area-chart:before {
  content: "\e812";
}
.icon-ecosystem:before {
  content: "\e813";
}
.icon-root-server:before {
  content: "\e814";
}
.icon-key:before {
  content: "\e815";
}
.icon-shield:before {
  content: "\e816";
}
.icon-lock:before {
  content: "\e817";
}
.icon-expand:before {
  content: "\e818";
}
.icon-open-source:before {
  content: "\e819";
}
.icon-life-cycle:before {
  content: "\e81a";
}
.icon-combo-chart:before {
  content: "\e81b";
}
.icon-negative-dynamic:before {
  content: "\e901";
}
.icon-hand-cursor:before {
  content: "\e902";
}
.icon-unlocked-database:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-open-data-network:before {
  content: "\e907";
}
.icon-clinic:before {
  content: "\e908";
}
.icon-snow-plow:before {
  content: "\e909";
}
.icon-bus:before {
  content: "\e90a";
}
.icon-subway:before {
  content: "\e90b";
}
.icon-certified:before {
  content: "\e90c";
}
.icon-university:before {
  content: "\e90d";
}
.icon-student:before {
  content: "\e90e";
}
.icon-city-sm:before {
  content: "\e90f";
}
.icon-city-lg:before {
  content: "\e910";
}
.icon-city-md:before {
  content: "\e911";
}
.icon-tools:before {
  content: "\e912";
}
.icon-dashboard:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-restaurant:before {
  content: "\e915";
}
.icon-class:before {
  content: "\e916";
}
.icon-monitor:before {
  content: "\e917";
}
.icon-handshake:before {
  content: "\e918";
}
.icon-guru:before {
  content: "\e919";
}
.icon-support:before {
  content: "\e91a";
}
.icon-services:before {
  content: "\e91b";
}
.icon-share:before {
  content: "\e91c";
}
.icon-idea:before {
  content: "\e91d";
}
.icon-cloud:before {
  content: "\e91e";
}
.icon-news:before {
  content: "\e91f";
}
.icon-thumb-up:before {
  content: "\e920";
}
.icon-webinar:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-transform:before {
  content: "\e923";
}
.icon-arrow-down:before {
  content: "\e924";
}
.icon-arrow-up:before {
  content: "\e925";
}
.icon-books:before {
  content: "\e926";
}
.icon-web-design:before {
  content: "\e927";
}
.icon-project:before {
  content: "\e928";
}
.icon-dot:before {
  content: "\e929";
}
.icon-podium-speaker:before {
  content: "\e92a";
}
.icon-report-card:before {
  content: "\e92b";
}
.icon-smartphone-tablet:before {
  content: "\e92c";
}
.icon-tax:before {
  content: "\e92d";
}
.icon-dashboard-2:before {
  content: "\e92e";
}
.icon-high-priority:before {
  content: "\e92f";
}
.icon-construction-worker:before {
  content: "\e930";
}
.icon-money:before {
  content: "\e931";
}
.icon-milestone:before {
  content: "\e932";
}
.icon-in-progress:before {
  content: "\e933";
}
.icon-share-2:before {
  content: "\e934";
}
.icon-media-queries:before {
  content: "\e935";
}
.icon-siren:before {
  content: "\e936";
}
.icon-scales:before {
  content: "\e937";
}
.icon-caduceus:before {
  content: "\e938";
}
.icon-message:before {
  content: "\e939";
}
.icon-file:before {
  content: "\e93a";
}
.icon-youtube:before {
  content: "\e93b";
}
.icon-twitter:before {
  content: "\e93c";
}
.icon-linkedin:before {
  content: "\e93d";
}
.icon-facebook:before {
  content: "\e93e";
}
.icon-left-arrow:before {
  content: "\e93f";
}
.icon-up-arrow:before {
  content: "\e940";
}
.icon-right-arrow:before {
  content: "\e941";
}
.icon-down-arrow:before {
  content: "\e942";
}

// Icon Sizes
.icon-50 {
	font-size:50px;
}
.icon-80 {
	font-size:80px;
}
.icon-100 {
	font-size:100px;
}	
.icon-200 {
	font-size:200px;
}