.card {
	border-radius:0;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	.card-footer {
		border:none;
		background:none;
		.btn-link {
			padding:.5rem 1.5rem .5rem 0;
		}
	}
}
.card:hover {
	box-shadow: 0 5px 15px rgba($mdc-blue-grey-500, .3);
}